*~
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
COPYING
depcomp
INSTALL
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
data/swfdec-player.desktop
data/swfdec.xml
player/.deps
player/Makefile
player/Makefile.in
player/*.o
player/swfdec-player
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/stamp-it.tmp
po/*.gmo
thumbnailer/.deps
thumbnailer/Makefile
thumbnailer/Makefile.in
thumbnailer/*.o
thumbnailer/swfdec-thumbnailer
thumbnailer/swfdec-thumbnailer.schemas

